'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle suggest-hello2'
      'command': 'suggest-hello2:toggle'
    }
  ]
'menu': [
  {
    'label': 'Custom'
    'submenu': [
      'label': 'suggest-hello2'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'suggest-hello2:toggle'
        }
      ]
    ]
  }
]
